<div>
    <div class="col-lg-6">
        <div class="input-group">
            <label>Поиск по вакансиям:
              <span class="input-group-btn">
                {{input value=searchData enter='onSearch' class="form-control"}}
                  <button {{action "onSearch"}} class="btn btn-primary "> Поиск </button>
              </span>
            </label>
            <br>
        </div>
    </div>
</div>
<p></p>