<h2 id="title">Тестовый пример "Вакансии с hh.ru" для компании "UpsilonIT" (Ember-cli)</h2>

<div>
    <ul class="nav nav-tabs">
        <li>{{link-to "Карта с вакансиями" "map-vacancies"}}</li>
        <li>{{link-to "Найти вакансии" "vacancies"}}</li>
        <li>{{link-to "Показать карту Лифлет" "map"}}</li>
    </ul>
</div>
<p></p>
<div>
  {{outlet}}
</div>

